<style>
  ol {
    counter-reset: item;
  }
  li {
    display: block;
  }
  li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
  .ol-1 {
    margin-left: 4%;
  }
  .ol-2 {
    line-height: 25px;
    margin-left: 5%;
  }
  p {
    margin-bottom: 0 !important;
  }
  .p-1 {
    margin-left: 2%;
    padding: 0 !important;
  }
  li:before {
    font-weight: bold;
  }
  .dvt {
    line-height: 20px;
    font-family: 'Arial'
  }
</style>
<!-- *ngIf="_translate.getCurrentLange() == 'vi'" -->
<div class="dvt">
  <p>
    Học viên/phụ huynh vui lòng đọc kỹ những qui định được trình bày trong bảng
    này nhằm đảm bảo đã được thông tin đầy đủ khi đăng ký chương trình FS. ACET
    áp dụng những qui định này để tối đa cơ hội học tập của học viên và đảm bảo
    chất lượng của chương trình đào tạo.
  </p>
  <ol style="margin-bottom: 0">
    <li>
      <strong>Điều kiện chung</strong>
      <ol class="ol-1">
        <li>
          Tài liệu học sẽ được cung cấp miễn phí cho học viên. Tuy nhiên học
          viên sẽ phải đóng tiền để nhận tài liệu thay thế nếu tài liệu miễn phí
          bị mất.
        </li>
        <li>
          ACET được phép sử dụng hình ảnh và phim ảnh ghi lại các hoạt động
          trong giờ học và ngoài giờ học, trong đó có hình ảnh của tôi/con tôi,
          cho mục đích quảng bá và quảng cáo của ACET.
        </li>
        <li>Sỉ số tối đa của lớp học lá 18 học viên.</li>
        <li>
          Lệ phí thi xếp lớp nếu có sẽ được hoàn lại khi học viên đăng ký khóa
          học First Steps.
        </li>
      </ol>
    </li>
    <li>
      <strong>Điều kiện hoàn học phí hoặc bảo lưu học phí</strong>
      <ol class="ol-1">
        <li>
          Nếu học viên đã học ít hơn 15 giờ học, học phí sẽ được hoàn 50% số học
          phí còn lại với lý do chính đáng được Ban Giám Đốc xét duyệt.
        </li>
        <li>
          Nếu học viên học hơn 15 giờ học, học phí sẽ không được hoàn lại vì bất
          cứ lý do nào.
        </li>
        <li>
          Trường hợp xin bảo lưu hay hoàn học phí, học viên cần nộp đơn xin bảo
          lưu/ hoàn phí và cung cấp các giấy tờ có tính xác thực liên quan tới
          lý do xin bảo lưu/ hoàn phí theo đúng yêu cầu của ACET để được xem
          xét. Giám đốc của ACET giữ quyền quyết định với từng trường hợp.
        </li>
        <li>
          Thời gian bảo lưu tối đa là 15 tuần lễ. Tùy từng trường hợp cụ thể,
          ACET sẽ chấp nhận cho bảo lưu toàn bộ học phí, hoặc bảo lưu một phần
          học phí, hoặc sẽ từ chối việc xin bảo lưu. Nếu có sự thay đổi về học
          phí của ACET trong thời gian bảo lưu, học viên sẽ đóng thêm cho ACET
          phần chênh lệch giữa học phí cũ và học phí mới tại thời điểm học viên
          quay lại học.
        </li>
        <li>
          Các chương trình ưu đãi đặc biệt/giảm học phí sẽ không được bảo lưu/
          hoàn phí.
        </li>
        <li>
          Các trường hợp không nằm trong trường hợp được liệt kê dưới đây sẽ
          không đủ điều kiện hoàn phí/ bảo lưu:
        </li>
        <p class="p-1"><strong>1.</strong> Bị bệnh nặng</p>
        <p class="p-1">
          <strong>2.</strong> Di chuyển ra khỏi thành phố trong một khoảng thời gian kéo dài
        </p>
        <p class="p-1">
          <strong>3.</strong> Trùng lặp với thời khóa biểu nhà trường, có giấy xác nhận từ ban
          giám hiệu / giáo viên chủ nhiệm.
        </p>
        <li>
          Học viên phải đóng một khoản phí không hoàn lại là 1.000.000 VNĐ cho
          ACET trước khi việc bảo lưu/ hoàn phí được cho phép. Một học viên chỉ
          được hưởng quyền bảo lưu một lần.<br />
          Trong trường hợp ACET không thể mở lớp theo đúng kết quả thi xếp lớp/
          thi cuối khóa của học viên/không theo đúng nguyện vọng về địa điểm học
          của học viên, và học viên đồng ý bảo lưu học phí hay hoàn lại thì các
          chương trình ưu đãi đặc biệt/giảm học phí sẽ được bảo lưu hoặc các
          chương trình ưu đãi đặc biệt/giảm học phí tại thời điểm mà học viên
          quay trở lại học sẽ được áp dụng,
        </li>
      </ol>
    </li>
    <li>
      <strong>Nhân viên</strong>
      <ol class="ol-1">
        <li>100% giảng viên nước ngoài. Mỗi lớp có 1 trợ giảng người Việt.</li>
        <li>
          ACET có toàn quyền thay đổi giảng viên trong suốt thời gian diễn ra
          khóa học.
        </li>
      </ol>
    </li>
    <li>
      <strong>Đổi và chỉnh sửa dịch vụ đã đặt</strong>
      <ol class="ol-1">
        <li>
          Học viên có thể sẽ được đổi lớp cao hoặc thấp hơn lớp đang học theo
          nhận xét và đề nghị của giảng viên phụ trách lớp. Việc đổi lớp nói
          trên (nếu có) chỉ được thực hiện trong 12 giờ đầu của khóa học.
        </li>
      </ol>
    </li>
    <li>
      <strong>Tham dự lớp</strong>
      <ol class="ol-1">
        <li>
          Mỗi cấp lớp khoảng 50 giờ gồm thời gian học, thi cuối khóa, ghi nhận
          thông tin phản hồi và hoạt động cuối khóa (hoạt động cuối khóa có thể
          bao gồm: chuyến dã ngoại vào mùa hè, ngày hội cuối khóa hè, liên hoan
          cuối khóa).
        </li>
        <li>
          ACET sẽ không nhận học viên nhập học trễ quá 10 giờ học sau khi khóa
          học đã khai giảng.
        </li>
        <li>
          Học viên phải tắt điện thoại di động trước khi vào lớp (điện thoại của
          giảng viên cũng sẽ được tắt). Các cuộc gọi hoặc tin nhắn quan trọng sẽ
          được thực hiện trong giờ giải lao hoặc sau giờ học.
        </li>
        <li>
          Học viên đi học trễ 15 phút hoặc trở lại lớp sau giờ giải lao trễ 15
          phút sẽ bị tính vắng mặt 1 giờ.
        </li>
        <li>
          Học viên sẽ không được tham dự kỳ thi cuối khóa nếu vắng mặt quá 12
          giờ trước kỳ thi cuối khóa. Đối với trường hợp đặc biệt có lý do chính
          đáng có thể được xem xét.
        </li>
        <li>
          ACET có quyền buộc thôi học ngay hoặc từ chối không cho học khóa kế
          tiếp đối với các học viên sau: sử dụng điện thoại trong giờ học không
          lý do chính đáng, không tích cực tham gia học tập hoặc có vấn đề sức
          khỏe lặp đi lặp lại làm hạn chế việc tham gia học tập, không làm bài
          tập đầy đủ, gian lận khi làm bài kiểm tra và thi cuối khóa, thường
          xuyên không đúng giờ, có những hành vi không tốt hoặc không tôn trọng
          với tập thể nhân viên và học viên tại ACET.
        </li>
        <li>
          ACET có quyền yêu cầu học viên không lên lớp nếu học viên có biểu hiện
          đang mắc các căn bệnh có nguy cơ lây nhiễm. Trong trường hợp này, phụ
          huynh phải cung cấp cho phòng Dịch Vụ Sinh Viên của ACET giấy tờ của
          cơ quan y tế xác nhận bệnh không lây nhiễm để được xem xét cho đến
          trường.
        </li>
      </ol>
    </li>
    <li>
      <strong>Thi cuối khóa</strong>
      <p class="ol-1">
        Học viên sẽ thi cuối khóa vào các tuần lễ cuối của mỗi khóa học.
      </p>
    </li>
    <li>
      <strong>Điều kiện để học viên được lên lớp</strong>
      <ol class="ol-1">
        <li>Chấp hành đúng qui định về tham dự lớp ở trên.</li>
        <li>
          Đạt điểm thi cuối khóa trên 60% và đạt điểm tổng kết cuối khóa trên
          60%.
        </li>
        <li>
          Học viên đạt điểm thi cuối khóa theo qui định trên cũng sẽ bị ở lại
          lớp nếu có cùng một kỹ năng không đạt điểm 60% trong 3 kỳ thi cuối
          khóa gần nhất.
        </li>
        <li>
          Trong một số trường hợp, nhà trường có thể sẽ tham khảo và cân nhắc ý
          kiến của giảng viên để quyết định việc lên lớp hoặc ở lại lớp của học
          viên.
        </li>
      </ol>
    </li>
    <li>
      <strong>Lên lớp vượt cấp</strong>
      <p class="ol-1">
        Học viên học khóa đầu tiên đạt điểm tổng kết cuối khóa từ 90% trở lên có
        thể được lên lớp vượt cấp với điều kiện được Giáo viên xác nhận Học viên
        đủ kiến thức học cấp độ cao hơn. Phòng Quản lý Học thuật sẽ xem xét và
        đưa ra quyết định cuối cùng. ACET sẽ thông báo nếu học viên được Phòng
        Quản lý Học thuật chấp thuận cho lên lớp vượt cấp. Trường hợp lớp học
        vượt cấp không còn chỗ, học viên sẽ được bảo lưu học phí để học khóa kế
        tiếp.
      </p>
    </li>
    <li>
      <strong>Không đạt thi cuối khoá và học lại</strong>
      <p class="ol-1">
        Học viên không đạt đủ điểm thi cuối khóa được đóng 50% học phí học lại
        lớp nếu không đạt vào khóa đầu tiên ở ACET và phải thỏa điều kiện chuyên
        cần trên 90%.
      </p>
    </li>
    <li>
      <strong>Thi xếp lớp lại</strong>
      <ol class="ol-1">
        <li>
          Kết quả thi xếp lớp và kết quả cuối khóa có giá trị trong 20 tuần. Học
          viên đã ngừng học từ 20 tuần trở lên sẽ phải thi xếp lớp lại để được
          nhập học.
        </li>
      </ol>
    </li>
    <li>
      <strong>Hủy buổi học và dạy bù</strong>
      <ol class="ol-1">
        <li>
          Buổi học của học viên có thể sẽ bị ACET hủy vì những lý do khách quan
          làm ảnh hưởng đến công tác giảng dạy. Học viên sẽ được học bù bằng
          cách cộng thêm giờ vào các buổi học sau đó hoặc sẽ được sắp xếp học bù
          vào những ngày khác.
        </li>
        <li>
          Buổi học bị hủy vì những lý do bất khả kháng như bão, lụt sẽ được sắp
          xếp học bù vào những ngày khác trong khóa học hoặc cuối khóa học.
          Trường hợp buổi học bị hủy mà ACET không thể sắp xếp dạy bù, học viên
          sẽ được hoàn lại học phí của buổi học bị hủy.
        </li>
      </ol>
    </li>
    <li>
      <strong>Thắc mắc - Khiếu nại </strong>
      <p class="ol-1">
        Học viên/Phụ huynh có thắc mắc/khiếu nại vui lòng liên hệ phòng Dịch Vụ
        Sinh Viên để được giải đáp/hỗ trợ.
      </p>
    </li>
    <li>
      <strong
        >Quyền riêng tư và quy tắc về hành vi của nhân viên và học viên</strong
      >
      <ol class="ol-1">
        <li>
          Hoạt động chụp ảnh, ghi hình hoặc ghi âm sẽ không được thực hiện trong
          lớp học nếu như không có sự cho phép của người được chụp ảnh, được ghi
          hình hoặc được ghi âm.
        </li>
        <li>
          Giáo viên và nhân viên sẽ không cho học viên số điện thoại cá nhân
          hoặc địa chỉ nhà riêng.
        </li>
        <li>
          ACET có quyền buộc thôi học ngay hoặc từ chối không cho học khóa kế
          tiếp đối với các học viên sau:, không tích cực tham gia học tập hoặc
          có vấn đề sức khỏe lặp đi lặp lại làm hạn chế việc tham gia học tập,
          không làm bài tập đầy đủ, gian lận khi làm bài kiểm tra và thi cuối
          khóa, thường xuyên không đúng giờ, có những hành vi không tốt hoặc
          không tôn trọng với tập thể nhân viên hoặc học viên tại ACET.
        </li>
        <li>
          ACET có quyền yêu cầu học viên không lên lớp nếu học viên có biểu hiện
          đang mắc các căn bệnh có nguy cơ lây nhiễm. Trong trường hợp này, học
          viên phải cung cấp cho phòng Dịch Vụ Sinh Viên của ACET giấy tờ của cơ
          quan y tế xác nhận bệnh không lây nhiễm để được xem xét cho đến
          trường.
        </li>
      </ol>
    </li>
    <li>
      <strong>Thông tin từ IDP và Insearch</strong>
      <p class="ol-1">
        Tôi đồng ý để IDP & UTS:Insearch email/ nhắn tin/ điện thoại cho tôi
        thông tin về du học và các chương trình học bổng
      </p>
    </li>
  </ol>
</div>

  <p>
    Please read these enrolment rules and regulations very carefully. They have
    been designed and implemented to maximize your study opportunities at ACET
    and are presented here so as to fully inform you of our conditions before
    booking for placement testing.
  </p>
  <ol style="margin-bottom: 0">
    <li>
      <strong>General conditions of enrolment</strong>
      <ol class="ol-1">
        <li>
          All core course materials will be provided to students at no
          additional charge. However students will be charged a fee calculated
          at cost to replace lost course materials.
        </li>
        <li>Maximum class size is 18 students.</li>
        <li>
          ACET is allowed to use images and video clips to record all activities
          in the classrooms and after class, including my/ my children’s images,
          for advertising purpose
        </li>
        <li>Placement test fee if any is refunded when student is enrolled.</li>
      </ol>
    </li>
    <li>
      <strong>Conditions of refunds / deferral</strong>
      <ol class="ol-1">
        <li>
          If a student study fewer 15 hours of a course, he/ she can be refunded
          50% tuition fee of the course with legitimate reason and approval from
          the manager of ACET.
        </li>
        <li>
          If a student study more than 15 hours of a course, he/she will not be
          approved to refund the tuition fee with any reasons.
        </li>
        <li>
          A requisition form must be submitted as required by ACET with
          verifiable documents showing reason for deferral. ACET’s decision
          about deferral will be made on a case by case basis by ACET manager
          board.
        </li>
        <li>
          The maximum period of deferral is 15 weeks. ACET’s decision about
          deferral will be made on a case by case basis. If students’
          requisitions for deferral are accepted, their tuition fees would be
          carried over to the next term of study. The tuition fees may be
          carried over in full or in part depending on when the requisition is
          made. If the tuition fee has increased since the original term
          studied, an additional payment to cover the increased fee will be
          required.
        </li>
        <li>Special promotions or discounts can not be deferred.</li>
        <li>
          These only following reasons are acceptable to be considered to refund
          or defer the tuition fee:
        </li>
        <p class="p-1"><strong>1.</strong> Severe health problems</p>
        <p class="p-1"><strong>2.</strong> Move out of the city for a long time.</p>
        <p class="p-1">
          <strong>3.</strong> Schedule from secondary school is the same schedule of ACET with
          statement from the secondary school or teacher form.
        </p>
        <li>
          The student has to pay an non refundable amount of fee 1 million
          Vietnam Dong before the request of refund or defer is approved. Each
          student is approved to defer only one time.
        </li>
        <p>
          If the reason for deferral is that ACET cannot open classes at the
          level of the student’s placement test results/final exam results or
          location preference, special promotions/discounts can be deferred or
          special promotions/discounts valid the term the students come back can
          be applied.
        </p>
      </ol>
    </li>
    <li>
      <strong>ACET Teachers</strong>
      <ol class="ol-1">
        <li>
          100% of the class hours are taught by foreign teachers. Each class has
          a Vietnamese Teaching Assistant.
        </li>
        <li>
          ACET reserves the right to change course teachers during the course.
        </li>
      </ol>
    </li>
    <li>
      <strong>Changing classes</strong>
      <ol class="ol-1">
        <li>
          The teacher will observe your work in the first 12 hours of your first
          term at ACET. If the teacher recommends that you should be in a higher
          or lower level, you might be transferred to another class.
        </li>
      </ol>
    </li>
    <li>
      <strong>Attendance</strong>
      <ol class="ol-1">
        <li>
          Each course has 50 hours including lessons, exams and feedback
          sessions, and curricular activities on the last day of term ( field
          trip, Gala or end of term party).
        </li>
        <li>
          Once courses have commenced late enrolments will not be considered
          after more than 10 hours of the course has been completed.
        </li>
        <li>
          Students must turn off their mobile phones before class begins
          (teachers will also turn off their mobile phones). Important calls or
          messages can be checked during breaktime or after class.
        </li>
        <li>
          Students arriving more than 15 mins late for the start of class or
          after the break will be marked absent for that hour.
        </li>
        <li>
          A student will not be allowed to take the end of term examination if
          he/she is absent for more than 12 hours in 50-hour classes prior to
          that examination. In exceptional circumstances, additional absences
          may be accepted.
        </li>
        <li>
          ACET reserves the right to expel or not allow a student to re-enrol.
          Possible reasons may include and are not limited to: not turning off a
          mobile phone before class begins, poor participation, ill health
          restricting acceptable participation, cheating in exams and
          assignments, punctuality and poor or disruptive behaviour towards ACET
          employees or other students.
        </li>
        <li>
          ACET reserves the right to ask a student to leave ACET premises if
          they present a health risk to staff or students. In this case, it is
          the student’s responsibility to provide appropriate documentation to
          ACET student services before they can be readmitted to class.
        </li>
      </ol>
    </li>
    <li>
      <strong>Final exam</strong>
      <p class="ol-1">
        Students will do final exams in the last weeks of the term.
      </p>
    </li>
    <li>
      <strong>Passing the course</strong>
      <ol class="ol-1">
        <li>Students must follow the rules of attendance detailed above.</li>
        <li>
          Students must pass the exam with an overall mark of 60% and must
          achieve an overall pass of 60%.
        </li>
        <li>
          Even if students pass the exam, they must not fail the same part of
          the exam on 3 consecutive terms.
        </li>
        <li>
          For some borderline cases, “Teachers' Comments” are also considered in
          the “Pass / Fail’ determination.
        </li>
      </ol>
    </li>
    <li>
      <strong>Skipping level</strong>
      <p class="ol-1">
        At the discretion of the Academic Department, a student may be allowed
        to skip a level if they achieve a final grade of 90% in their first term
        at ACET and they have been confirmed by their teacher.
      </p>
    </li>
    <li>
      <strong>Failing and repeating the course</strong>
      <p class="ol-1">
        Students, who fail a level, are allowed to pay 50% tuition fees to
        repeat the level the following term if they achieve the requirement of
        attendance at 90%.
      </p>
    </li>
    <li>
      <strong>Retake the Placement Test</strong>
      <ol class="ol-1">
        <li>
          Placement test result and final results are valid for 20 weeks.
          Students who reenroll after a break of 20 or more weeks must retake
          the Placement Test to determine their class level.
        </li>
      </ol>
    </li>
    <li>
      <strong>Cancel and make up class</strong>
      <ol class="ol-1">
        <li>
          ACET reserves the right to cancel a class due to unforeseen
          operational circumstances. The lost hours of tuition will be made up
          at a later date. This may require the class to meet on a day in which
          they do not normally study.
        </li>
        <li>
          If classes are cancelled due to force majeur (typhoon, flooding etc
          then classes will be made up on a day in which the class does not
          normally study, during the term or at the end of the term. If ACET is
          unable to make up cancelled classes, then the refunds are offered for
          the cancelled classes.
        </li>
      </ol>
    </li>
    <li>
      <strong>Student/Parent Complaints</strong>
      <p class="ol-1">
        Students/Parent should contact Student Services if they have any issues
        or concerns.
      </p>
    </li>
    <li>
      <strong>Privacy and employee/students conduct</strong>
      <ol class="ol-1">
        <li>
          Pictures and video/audio recordings must not be taken in class without
          the permission of those whose picture is being taken.
        </li>
        <li>
          Teachers and staff will not give students their personal phone numbers
          or home addresses.
        </li>
        <li>
          ACET reserves the right to expel or not allow a student to re-enroll.
          Possible reasons may include and are not limited to: not turning off a
          mobile phone before class begins, poor participation, ill health
          restricting acceptable participation, cheating in exams and
          assignments, punctuality and poor or disruptive behaviour towards ACET
          employees or other students.
        </li>
        <li>
          ACET reserves the right to ask a student to leave ACET premises if
          they present a health risk to staff or students. In this case, it is
          the student’s responsibility to provide appropriate documentation to
          ACET student services before they can be readmitted to class
        </li>
      </ol>
    </li>
    <li>
      <strong>Information from IDP and UTS:Insearch</strong>
      <p class="ol-1">
        I agree for IDP & UTS:Insearch to email/ text/call me to provide
        information relating to overseas study and scholarship program
      </p>
    </li>
  </ol>