<div class="header bg-gradient-danger design-table pb-8 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card-search card-stats mb-4 mb-xl-0" style="margin-bottom: 2.75rem !important;">
            <div class="card-body">
              <div class="row">
                <div class="col search-emp">
                  <div class="search-name">
                    <h5 class="card-title text-uppercase text-muted mb-0 font14">Mã đơn dịch vụ</h5>
                    <input #serviceName id="serviceName" placeholder="Booking #1" [(ngModel)]="name" type="text"
                      aria-describedby="serviceName-help" maxlength="50">
                  </div>
                </div>

                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow" style="cursor: pointer;"
                    (click)="search()">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 font20">Danh sách đơn dịch vụ định kỳ:</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Mã đơn</th>
                <th scope="col">Tên người thuê</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Loại nhà</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookingList">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{booking.id}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{booking.hostName}}
                </td>
                <td>
                  {{booking.hostPhone}}
                </td>
                <td>
                  {{booking.hostAddress}}
                </td>
                <td>
                  {{booking.houseType}}
                </td>
                <td>
                  {{booking.status}}
                </td>
                <td class="text-center">
                  <div>
                    <a class="dropdown-item"
                      (click)="showDetail(booking.id, booking.reivew, booking.note, booking.name)">Xem thông
                      tin</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="table-responsive">
          <div class="showtime-options" *ngFor="let date of dateSchedule">
            <label> - {{date.name}}: <span>({{date.startTime}} - {{date.endTime}})</span></label>
            <carousel height="87px" cellsToShow="7" *ngIf="date.workDate && date.workDate.length >= 7">
              <div [ngClass]="{'selected':selectedDate===showtime}" class="carousel-cell"
                *ngFor="let showtime of date.workDate" (click)="viewDetailinSchedule(date.id, showtime)">
                <div class="left">{{getDay(showtime)}}</div>
                <div class="right"><span>/{{getMonth(showtime)}}
                  </span><span>{{getDateMonth(showtime)}}</span>
                </div>
              </div>
            </carousel>

            <div class="select-date-container" height="87px" cellsToShow="7"
              *ngIf="date.workDate && date.workDate.length < 7">
              <div [ngClass]="{'selected':selectedDate===showtime}" class="datetimeBtn"
                *ngFor="let showtime of date.workDate" (click)="viewDetailinSchedule(date.id, showtime)">
                <div class="left">{{getDay(showtime)}}</div>
                <div class="right"><span>/{{getMonth(showtime)}}
                  </span><span>{{getDateMonth(showtime)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive" style="margin-top: 2rem;">
          <div class="showtime-bydate" *ngFor="let date of dateList">
            <span> - {{date.name}}: ({{date.startTime}} - {{date.endTime}}): </span>
            <span style="font-weight: 700; font-size: 16px"> {{date.workDate}} </span>
            <u (click)="viewDetailinSchedule(date.id, date.workDate)"> (Xem chi tiết)</u>
          </div>
        </div> -->

      </div>
      <div class="card shadow" style="margin-top: 5rem;">
        <div class="card-header border-0">
          <h3 class="mb-0 font20">Danh sách đơn dịch vụ theo ngày:</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Mã đơn</th>
                <th scope="col">Tên người thuê</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Loại nhà</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let booking of bookingList">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{booking.id}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{booking.hostName}}
                </td>
                <td>
                  {{booking.hostPhone}}
                </td>
                <td>
                  {{booking.hostAddress}}
                </td>
                <td>
                  {{booking.houseType}}
                </td>
                <td>
                  {{booking.status}}
                </td>
                <td class="text-center">
                  <div>
                    <a class="dropdown-item" href="/hms/user-profile">Xem thông tin</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>