<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
    </div>
  </div>
</section>

<section class="section pb-0 ">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="d-flex px-3" style="color: #000">
        <div>
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-building text-primary"></i>
          </div>
        </div>
        <div class="pl-4 w-50">
          <h4 class="display-3">Những dịch vụ tiện ích mà gia đình bạn cần</h4>
          <p class="">Những dịch vụ bên HMS cung cấp luôn được đưa ra theo cấc tiêu chí cần và đủ dựa trên nhu cầu của
            từng cá nhân cho tới tập thể.</p>
        </div>
      </div>
      <div class="col-md-6 order-lg-2 ml-lg-auto">
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-satisfied"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-success">Dịch vụ vệ sinh</h5>
                <p>Dịch vụ mang tới tính năng tiện ích nhằm phục vụ nhu cầu vệ sinh
                  nơi ở, sinh sống và làm việc của người dùng.</p>
                <a href="javascript:void(0)" class="text-success">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-active-40"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-warning">Giúp việc theo giờ</h5>
                <p>Dịch vụ giúp việc theo giờ có thể đưa tới cho người dùng đa dạng hơn ở không chỉ khâu dọn dẹp mà còn
                  là cả dịch vụ khác.</p>
                <a href="javascript:void(0)" class="text-warning">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-satisfied"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-success">Giúp việc ở lại nhà</h5>
                <p>Khách hàng có thể thuê những người giúp việc hỗ trợ gia đình. Với thời
                  gian 24/7 kèm theo đó là thái độ và trình độ chuyên nghiệp.</p>
                <a href="javascript:void(0)" class="text-success">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-active-40"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-warning">Dịch vụ đi chợ thuê</h5>
                <p>Dịch vụ đem tới tiện ích cho người dùng về việc mua đồ và đi lại vào những thời
                  điểm bất kỳ trong ngày...</p>
                <a href="javascript:void(0)" class="text-warning">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <!-- <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div> -->
</section>
<section class="section bg-secondary" style="margin-bottom: 4rem; margin-top: 4rem;">
  <div class="container">
    <div class="row mb-lg-5">
      <div class="col-lg-8">
        <h2 class="display-3">Luôn đem tới chất lượng hàng đầu</h2>
        <p class="lead text-muted">Dựa trên các tiêu chí hàng đầu về một dịch vụ, HMS luôn tự tin đem tới cho người dùng
          những trải nghiệm tốt nhất.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/theme/advance03.png" class="" style="width: 150px;">
          <div class="pt-4">
            <h5 class="title">
              <span class="d-block mb-1">Đa dạng dịch vụ</span>
              <small class="h6 text-muted">Với nhiều sự lựa chọn và hình thức để sử dụng dịch vụ.
                HMS luôn sẵn sàng hỗ trợ mọi nhu cầu của khách hàng</small>
            </h5>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/theme/advance04.png" class="" style="width: 150px;">
          <div class="pt-4">
            <h5 class="title">
              <span class="d-block mb-1">An toàn thông tin</span>
              <small class="h6 text-muted">Người làm uy tín, luôn có hồ sơ lý lịch rõ ràng
                và được Công ty giám sát trong suốt quá trình làm việc.</small>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/theme/advance02.png" class="" style="width: 150px;">
          <div class="pt-4">
            <h5 class="title">
              <span class="d-block mb-1">Giá cả hợp lý</span>
              <small class="h6 text-muted">HMS đem tới cho người dùng những dịch vụ có chất lượng tốt đi kèm với
                giá cả hợp lý đối với từng loại dịch vụ.
              </small>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="px-4">
          <img src="./assets/img/theme/advance01.png" class="" style="width: 150px;">
          <div class="pt-4">
            <h5 class="title">
              <span class="d-block mb-1">Dễ dàng sử dụng</span>
              <small class="h6 text-muted">Thao tác và lựa chọn hợp lý, tiết kiệm thời gian.</small>
            </h5>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-lg" style="padding-top: 0 !important;">
  <div class="container">
    <div class="row mb-lg-6">
      <div class="col-lg-8">

        <h2 class="display-3">Quy trình và Hỗ trợ</h2>
        <p class="lead text-muted">Dịch vụ, chất lượng và sự tiện ích luôn là 1 khối thống nhất. Quy trình để sử dụng
          chúng cũng vậy. </p>
      </div>
    </div>
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="./assets/img/theme/servicepick.png" class="img-fluid floating" style="padding-left: 50px; padding-bottom: 30px;">
        <img src="./assets/img/theme/timepick.png" class="img-fluid floating" style="padding-right: 50px; padding-bottom: 30px;">
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h3>Quy trình dịch vụ</h3>
          <p>Luôn hướng tới quy trình tối ưu và đạt tới được nhu cầu của khách hàng. Luôn đặt ra với 4 quy trình tương
            ứng với 4 tiêu chí: tiện, nhanh, an toàn và nhất quán</p>
          <ul class="list-unstyled mt-5">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-settings-gear-65"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Chọn dịch vụ</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-calendar-grid-58"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Chọn thời gian và địa điểm</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-html5"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Tiến hành dịch vụ</h6>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div>
                  <h6 class="mb-0">Đánh giá và phản hồi dịch vụ</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-secondary">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="./assets/img/theme/service.jpeg" class="card-img-top" style="height:380px;">
          <blockquote class="card-blockquote" style="height:175px;">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
            </svg>
            <h4 class="font-weight-bold text-white" style="font-size: 24px;">Hệ thống dịch vụ HMS</h4>
            <p class="text-italic text-white" style="font-size: 16px;">Luôn hướng sự hài lòng của khách hàng đi kèm với sự phát triển và cải thiện dịch vụ. </p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pl-md-5">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
            <i class="ni ni-settings"></i>
          </div>
          <h3>Liên hệ và Hỗ trợ</h3>
          <p class="lead">Khi có bất kỳ thắc mắc gì về dịch vụ, bạn chỉ cần liên hệ hoặc click vào phần "Hỗ trợ", chúng tôi sẽ giải đáp cho bạn.</p>
          <p>Phản hổi và đánh giá của khách hàng luôn là 1 sự đóng góp trong quá trình phát triển của HMS.</p>
          <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">Nhận hỗ trợ</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-shaped" style="padding-top: 2rem; padding-bottom: 2rem;">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Bạn đã sẵn sàng để
          trải nghiệm?</h1>
        <p class="lead text-white mt-4">Đăng ký và trải nghiệm những tính năng thú vị chỉ có trên website HMS</p>
        <a href=""
          class="btn btn-white mt-4">Trải nghiệm ngay</a>
      </div>
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded overflow-hidden bootstrap-slider">
          <ngb-carousel class="edf">
            <ng-template ngbSlide>
              <img class="slider-image img-fluid" src="assets/img/theme/servicepick.png" alt="First slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="slider-image img-fluid" src="assets/img/theme/timepick.png" alt="Second slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="slider-image img-fluid" src="assets/img/theme/timepick.png" alt="Third slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="slider-image img-fluid" src="assets/img/theme/timepick.png" alt="Fouth slide">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</section>