<div class="header bg-gradient-danger design-table pb-8 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" style="padding: 0 5rem;">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats" style="height: 85px !important; padding: 0 !important;">
            <div class="card-body">
              <div class="row">
                <div class="col search-emp">
                  <div class="search-name">
                    <h5 class="card-title text-uppercase text-muted mb-0 font14">Mã đơn dịch vụ</h5>
                    <input #serviceName id="serviceName" placeholder="Booking #1" [(ngModel)]="name" type="text"
                      aria-describedby="serviceName-help" maxlength="50">
                  </div>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow" style="cursor: pointer;"
                    (click)="search()">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" style="min-height: 440px !important;">
  <!-- Table -->
  <div class="row" style="padding: 0 5rem;">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 font20">Danh sách đơn dịch vụ:</h3>
        </div>
       
        <div class="table-responsive" style="margin-top: 2rem;">
          <div class="showtime-bydate" *ngFor="let date of dateList">
            <span> - {{date.name}}: ({{date.startTime}} - {{date.endTime}}): </span>
            <span style="font-weight: 700; font-size: 16px"> {{date.workDate}} </span>
            <u (click)="viewDetailinSchedule(date.id, date.workDate)"> (Xem chi tiết)</u>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>