<div mat-dialog-actions class="guide_class">
  <div class="dialog-container">
    <div class="header">
      <h6>Chọn nhân viên dọn dẹp</h6>
    </div>
    <div class="content">
      <div class="content-scroll">
        <div class="filter-search">Tên: <input #namesearch id="namesearch" placeholder="tên nhân viên" type="text"
            aria-describedby="name-search-help" maxlength="50"><span>
            <button mat-button class="filter_btn" (click)="searchCleaner()">Tìm kiếm</button>
          </span></div>
      </div>
      <div class="table-responsive">
        <div class="showtime-options">
          <div class="select-date-container" height="140px" cellsToShow="4" *ngIf="listCleaner.length > 0">
            <div [ngClass]="{'selected':selectedCleaner===cleaner}" class="datetimeBtn"
              (click)="viewDetailCleaner(cleaner)" *ngFor="let cleaner of listCleaner">
              <div class="top">
                <div class="left"><img src=""></div>
              </div>
              <div class="right">{{cleaner.name}} - {{cleaner.gender}} 
              </div>
            </div>
            <div class="bottom">
              <div class="d-flex align-items-center">
                <span class="mr-2">{{cleaner.ratingScore}}</span>

                <div class="star-rating" [innerHTML]="generateStarRating(cleaner.ratingScore)"></div>
              </div>
            </div>
            <i *ngIf="serviceAddOns" class="fas fa-check-square" (click)="removeAddOns()"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>