<div mat-dialog-actions class="guide_class">
  <div class="dialog-container">
    <div class="header-background"></div>
    <div class="header">
      <h6>Thông tin chi tiết đơn hàng</h6>
    </div>
    <div class="content">
      <div class="content-scroll">
        <div class="title_note"> *Vui lòng xác nhận lại thông tin đơn hàng bao gồm thông tin cá nhân và dịch vụ</div>
        <div class="title_note rednoti"> Dịch vụ bổ sung không được tính phí vào đơn dịch vụ, phí sẽ được bổ sung sau
          khi người dọn xác nhận và thông báo lại</div>
        <div *ngIf="status == 'DONE'" class="rate">
          <span *ngIf="status == 'DONE' && !noneRate">Điểm đánh giá dịch vụ: <div class="star-rating"
              [innerHTML]="generateStarRating(ratingAverage)"></div></span>
          <div *ngIf="status == 'DONE' && noneRate"><button class="btn btn-primary" style="">Đánh giá</button></div>
        </div>
        <div class="information">
          <div class="infor-col1">
            <h6 class="text-primary text-uppercase resize">Thông tin người dùng</h6>
            <div class="input-group">
              <p style="width: 90%; display: block;">
                Tên chủ nhà(*): {{infor.hostName}}
              </p>
              <p style="width: 90%; display: block;">Số điện thoại(*): {{infor.hostPhone}}</p>
            </div>
            <div class="date-pickertime">
              <p class="" style="padding-bottom: 0; margin-bottom: 0;">*
                Lịch ngày dọn: <span>{{
                  infor.scheduleList[0].workDate
                  }} </span></p>
              <p *ngIf="type == 'schedule'" class="" style="padding-bottom: 0; margin-bottom: 0;">*
                Lịch kết thúc: <span>{{
                  infor.scheduleList[infor.scheduleList.length - 1].workDate
                  }} </span></p>
            </div>
            <div *ngIf="type == 'schedule'" class="input-group">
              <p>Tổng ngày dọn: {{infor.totalBookingDate}}</p>
            </div>
            <h6 class="text-primary text-uppercase resize">Nhân viên dọn dẹp </h6>
            <p style="font-size: 1rem;
                font-weight: 300;
                line-height: 1.7;
                color: #000000de;
                text-transform: lowercase;">
              {{cleanerList}}
            </p>
            <p>Tổng người dọn: {{infor.totalBookingCleaner}}</p>
          </div>
          <div class="infor-col2">
            <h6 class="text-primary text-uppercase resize">Thông tin địa chỉ nhà</h6>
            <div class="input-group">
              <p>Loại hình nhà(*): {{infor.houseType}}</p>
            </div>
            <div class="input-group">
              <p>Địa chỉ nơi dọn: {{infor.hostAddress}}</p>
            </div>
            <div class="input-group">
              <!-- <p style="width: 90%; display: block;">Số tầng(*): {{infor.floorNumber}}</p> -->
              <p style="width: 90%; display: block;"> Tổng diện tích
                sàn(*): {{infor.floorArea}}</p>
              <p class="description">Số lượng người dọn và giá (ước tính): <span>
                  <b>{{cleanerNum}} người dọn dẹp</b> trong
                  thời gian <b> {{duration}} tiếng </b> (giá dịch vụ: <b>{{formattedPriceA}}</b>)
                </span> </p>
            </div>
            <h6 class="text-primary text-uppercase resize">Phương thức thanh toán </h6>
            <p style="font-size: 1rem;
            font-weight: 300;
            line-height: 1.7;
            color: #000000de;
            text-transform: lowercase;">
              Thanh toán bằng tiền mặt
            </p>
          </div>
        </div>
        <h6 class="text-primary text-uppercase resize">Ghi chú</h6>
        <div class="note-section">
          <textarea [disabled]="true" style="width: 50%; padding-left: 1rem; padding-top: 0.5rem;"
            [value]="infor.note ? infor.note :'' " rows="3"
            placeholder="Nhập ghi chú của bạn cho dịch vụ đăng ký"></textarea>
        </div>
      </div>
      <div class="button-payment" style="display: flex; width: 100%;">
        <div class="button-payment" style="display: flex; width: 100%;">
          <div style="text-align: end; justify-content: center; margin-right: 1rem; width: 100%; padding-top: 10px;">
            Tổng tiền đơn dịch vụ:
            {{ formattedPrice }}
            <button *ngIf="type == 'schedule'"
              style="height: 35px; font-size: 11px; display: inline; margin-left: 3rem;" class="btn btn-primary btn-pay"
              (click)="confirm(infor.bookingId)">
              Xem chi tiết
            </button>
            <button *ngIf="infor.status == 'CONFIRMED' || infor.status == 'RECEIVED'" [ngStyle]="{'margin-left': type == 'schedule' ? '0' : '1rem'}" style="height: 35px; font-size: 11px; display: inline;" class="btn btn-danger btn-pay"
              (click)="cancel(infor.bookingId)">
              Hủy đơn
            </button>
          </div>

        </div>

      </div>
    </div>
    <button mat-button class="button" (click)="onNoClick()"><img src="./assets/img/x-dialog.svg" /></button>
  </div>
</div>